body{

  margin: 0;
  font-family: Georgia, serif;
  color: #867ae9;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #c0fefc;
}
h1{
  font-size: 50px;
  line-height: 1;
  text-align: center;
  color: #bf1363;
}
h2{
  color: #bf1363;
}
h3{
  color: #39a6a3;
  font-size: 25px;
  text-align: center;
}
.Quantity{
  width: 50px;
}
.submit{
  width: 100px;
  height: 30px;
  background-color: #f7a440;
  margin-left: 100px;
  font-weight: bold;
}
.submit:hover{
  background-color: #8c0000;
}
.rightcookimg{
  height: 200px;
  position: absolute;
  left: 120px;
  padding-top: 0px;
}
.topcookimg{
  height: 150px;
  position: absolute;
  right: 50px;
  padding-top: 0px;
}
.cropped1 {
    width: 200px;
    height: 180px;
    object-fit: cover;
}
.middle{
  margin-left: 500px;
  margin-right: 500px;
  padding:20px 0 20px 100px;
  text-align: left;
  background-color: pink;
  line-height: 2;
  border: 3px dotted;
}
.copyright{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  color: red;
}
.sticky{
  position:sticky;
  top: 0;
  padding:20px;
  background-color: #39a6a3;
  color: white;
}
.bottom{
  margin: 20px 900px 0 20px;
  padding:10px 0 20px 30px;
  text-align: left;
  background-color: #fff5ab;
  border: 3px dashed;
  color: #005792;
}
.bottom-right{
  position: relative;
  margin: 0px 30px 20px 900px;
  padding:10px 30px 20px 0;
  text-align: right;
  background-color: #fff5ab;
  border: 3px dashed;
  color: #005792;
}
